[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/safe-smart-account"]
	path = contracts/lib/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
